@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,500;9..40,700;9..40,900&display=swap');

/* ------------------RESET/ОБНУЛЕНИЕ------------------ */

* {
   margin: 0;
   padding: 0;
   border: 0
}

*,
:after,
:before {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box
}

:focus,
:active {
   outline: none
}

a:focus,
a:active {
   outline: none
}

nav,
footer,
header,
aside {
   display: block
}

html,
body {
   scroll-behavior: smooth;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input,
button,
textarea {
   font-family: inherit;
   background-color: transparent;
}

input::-ms-clear {
   display: none
}

button {
   cursor: pointer
}

button::-moz-focus-inner {
   padding: 0;
   border: 0
}

a,
a:visited {
   text-decoration: none;
   color: inherit;
}

a:hover {
   text-decoration: none
}

ul li {
   list-style: none
}

img {
   vertical-align: top
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
   color: inherit;
}

/* ------------------STYLES/СТИЛИ------------------ */
body {
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #141414;
   font-family: 'DM Sans', sans-serif;
}

input[name='i'] {
   display: none;
}

.wrapper {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   height: 100%;
   overflow: hidden;
   padding: 1% 10%;
}

.title {
   color: white;
   font-weight: 900;
   font-size: 4em;
   letter-spacing: 0.1em;
   text-transform: uppercase;
   line-height: 133%;
   margin: 1% 0 3% 0;
}

.slider {
   background-color: #1f1f1f;
   height: 80%;
   overflow: hidden;
   width: 100%;
   padding: 2em;
   border-radius: 2%;
   box-shadow: 0 0 1em rgba(105, 105, 105, 0.616);
}

.slider__container {
   display: flex;
   flex-direction: column;
   height: 100%;
   overflow: hidden;
}

.slider__slides {
   display: flex;
   align-items: center;
   overflow: hidden;
   width: 400%;
   height: 100%;
}

.slider__slide {
   display: flex;
   justify-content: center;
   align-items: center;
   min-width: 25%;
   overflow: hidden;
   transition: all .4s ease;
   height: 100%;
}

.slide1 {
   background: url(./images/01149cadc378085164ff4a4bf8084721.jpg) center no-repeat;
   background-size: contain;
}

.slide2 {
   background: url(./images/1471637208137962876.jpg) center no-repeat;
   background-size: contain;

}

.slide3 {
   background: url(./images/1671008037224421279.jpg) center no-repeat;
   background-size: contain;
}

.slide4 {
   background: url(./images/9f1b0cc0fc7967986851e3d3f38e2575.jpg) center no-repeat;
   background-size: contain;
}

.slide5 {
   background: url(./images/f7d4db81fdbc633e0f4b929b37408938.jpg) center no-repeat;
   background-size: contain;
}

.slider__panel {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 1em;
}

.description {
   color: #fff;
   font-size: 1.5em;
   font-weight: 300;
   text-transform: capitalize;
   display: flex;
   align-items: center;
   line-height: 150%;
   flex: 1 1 auto;
   overflow: hidden;
}

.slideDesc {
   min-width: 100%;
   white-space: nowrap;
   transition: all .4s ease;
   /* margin-top: 2rem; */
}

.slider__pagination {
   min-width: 1rem;
   min-height: 1rem;
   display: flex;
   justify-content: end;
   align-items: center;
   gap: 1em;
   padding: 1rem;
   flex: 0 0 auto;

}

.slider__navigation-btn {
   display: block;
   min-width: 1rem;
   min-height: 1rem;
   background-color: rgba(97, 97, 122, 0.582);
   border-radius: 50%;
   cursor: pointer;
   transition: all .3s ease;
   padding: .7em;
}

.slider__navigation-btn:hover {
   background-color: rgba(135, 135, 223, 0.856);
}

.slider__navigation-btn:active {
   background-color: rgba(62, 62, 102, 0.856);
}

/* --------------CHANGE SLIDE-------------- */

#slide1:checked~.slider__slides .slide1 {
   margin-left: 0%;
}

#slide2:checked~.slider__slides .slide1 {
   margin-left: -25%;
}

#slide3:checked~.slider__slides .slide1 {
   margin-left: -50%;
}

#slide4:checked~.slider__slides .slide1 {
   margin-left: -75%;
}

#slide5:checked~.slider__slides .slide1 {
   margin-left: -100%;
}

/* --------------CHANGE DESC-------------- */

#slide1:checked~.slider__panel .description .slideDesc1 {
   margin-left: 0;
}

#slide2:checked~.slider__panel .description .slideDesc1 {
   margin-left: -100%;
}

#slide3:checked~.slider__panel .description .slideDesc1 {
   margin-left: -200%;
}

#slide4:checked~.slider__panel .description .slideDesc1 {
   margin-left: -300%;
}

#slide5:checked~.slider__panel .description .slideDesc1 {
   margin-left: -400%;
}

/* --------------ACTIVE CONTROL-------------- */

#slide1:checked~.slider__panel .slider__pagination .btn1 {
   background-color: rgba(78, 78, 255, 0.562);
}

#slide2:checked~.slider__panel .slider__pagination .btn2 {
   background-color: rgba(78, 78, 255, 0.562);
}

#slide3:checked~.slider__panel .slider__pagination .btn3 {
   background-color: rgba(78, 78, 255, 0.562);
}

#slide4:checked~.slider__panel .slider__pagination .btn4 {
   background-color: rgba(78, 78, 255, 0.562);
}

#slide5:checked~.slider__panel .slider__pagination .btn5 {
   background-color: rgba(78, 78, 255, 0.562);
}

.githubLink {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: .5em;
   margin: 2em 0 1em 0;
}

.githubLink h2 {
   color: rgba(255, 255, 255, 0.774);
   font-size: 2em;
   font-weight: 300;
}


@media (max-width: 768px) {
   .title {
      font-size: 3em;
      margin: 3% 0 1% 0;
   }

   .slider__panel {
      flex-wrap: wrap-reverse;
      justify-content: center;
      gap: 1em;
   }

   .githubLink {
      font-size: .8em;
      margin: 1% 0 2%;

   }
}